

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");

.container * {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: uppercase; 
  /* transform:scale(0.85); */
}

.container {
  /* border: 1px solid teal; */
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  
}

.container form {
  background: #fff;
  /* background: red; */
  border-radius: 5px;
  /* box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1); */
  
  padding: 20px;
  width: 80%;
  padding-top: 90px;
}

.container form .inputBox {
  margin-top: 5px;
}

.container form .inputBox span {
  display: block;
  color: #999;
font-size:12px;
  /* padding-bottom: 5px; */
}

.container form .inputBox input,
.container form .inputBox select {
  width: 80%;
  padding: 2px;
  border-radius: 2px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  color: #444;
  font-size:12px;
}

.container form .flexbox {
  display: flex;
  gap: 15px;
  width:80%; 
}

.container form .flexbox .inputBox {
  flex: 1 1 150px;
}

.container form .submit-btn {
  width: 100%;
  background: linear-gradient(45deg, blueviolet, deeppink);
  
  /* margin-top: 20px; */
  padding: 10px;
  font-size: 20px;
  color: #fff;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.2s linear;
}

.container form .submit-btn:hover {
  letter-spacing: 2px;
  opacity: 0.8;
}

.container .card-container {
  margin-bottom: -150px;
  position: relative;
  height: 250px;
  width: 420px;
}

.container .card-container .front {
  position: absolute;
  width: 85% ;
  /* height: 300px; */
  border:1px solid green;
  top: 0;
  left: 0;
  background: linear-gradient(45deg, blueviolet, deeppink);
  border-radius: 5px;
  backface-visibility: hidden;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
  padding: 20px;
  transform: perspective(1000px) rotateY(0deg);
  transition: transform 0.4s ease-out;

  scale:0.8;
}

.container .card-container .front .image {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 10px;
}

.container .card-container .front .image img {
  width: 50px;

  /* height: 50px; */
}

.container .card-container .front .card-number-box {
  padding: 20px 0;
  width:100%;
  /* border: 1px solid white; */
  font-size: 16px;
  color: #fff;
   
}

.container .card-container .front .flexbox {
  display: flex;
}

.container .card-container .front .flexbox .box:nth-child(1) {
  margin-right: auto;
}

.container .card-container .front .flexbox .box {
  font-size: 15px;
  color: #fff;
  
}

.container .card-container .back {
  position: absolute;
  top: 0;
  left: 0;
  /* height: 100%; */
  width: 97%;
  background: linear-gradient(45deg, blueviolet, deeppink);
  border-radius: 15px;
  padding: 20px 0;
  text-align: right;
  backface-visibility: hidden;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
  transform: perspective(1000px) rotateY(180deg);
  transition: transform 0.4s ease-out;

  margin-bottom : 10px;
  scale:0.7;
}

.container .card-container .back .stripe {
  background: #000;
  
  width: 100%;
  margin: 10px 0;
  height: 50px;
}

.container .card-container .back .box {
  padding: 0 20px;
}

.container .card-container .back .box span {
  color: #fff;
  
  font-size: 15px;
}

.container .card-container .back .box .cvv-box {
  height: 50px;
  padding: 10px;
  margin-top: 5px;
  color: #333;
  background: #fff;
  
  border-radius: 5px;
  width: 100%;
}

.container .card-container .back .box img {
  margin-top: 30px;
  height: 30px;
}
.card-number-box {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: 1.5rem; /* adjust as needed */
}

.card-number-box span {
  padding: 0.5rem;
  width: calc(25% - 0.5rem); /* 4 boxes each taking 25% of the width */
  text-align: center;
}
